<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inflectra.RemoteLaunch.Engines.soapUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Inflectra.RemoteLaunch.Engines.soapUI.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>C:\Program Files\SmartBear\SoapUI-Pro-5.1.1\bin</value>
            </setting>
            <setting name="ProLicense" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TraceLogging" serializeAs="String">
                <value>False</value>
            </setting>
        </Inflectra.RemoteLaunch.Engines.soapUI.Properties.Settings>
    </userSettings>
</configuration>